<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../public/css/css/style.css">
</head>
<body>
   {{>header}}
        <p>
            {{title}}
            {{errorMessage}}
        </p>
    {{>footer}}
</body>



</html>