<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../public/css/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>{{helpText}}</h1>
    </div>
    {{>footer}}
</body>



</html>